
{{ parent() }}
<tr>
	<td class="edittext" width="120">
		{{ translate({ ident: "DETAILS_Attributes_TYPE" }) }}
	</td>
	<td class="edittext">
		<select name="editval[oxattribute__oxtype]" class="editinput" {{ readonly }}>
			<option value="TEXT" {% if edit.oxattribute__oxtype.value == "TEXT" %} selected {% endif %}>Text</option>
			<option value="SELECT" {% if edit.oxattribute__oxtype.value == "SELECT" %} selected {% endif %}>Selection</option>
			<option value="MULTISELECT" {% if edit.oxattribute__oxtype.value == "MULTISELECT" %} selected {% endif %}>Multiselect</option>
			<option value="BOOL" {% if edit.oxattribute__oxtype.value == "BOOL" %} selected {% endif %}>Boolean</option>
			<option value="DATE" {% if edit.oxattribute__oxtype.value == "DATE" %} selected {% endif %}>Date</option>
			<option value="COLOR" {% if edit.oxattribute__oxtype.value == "COLOR" %} selected {% endif %}>Color</option>
			<option value="IMAGE" {% if edit.oxattribute__oxtype.value == "IMAGE" %} selected {% endif %}>Image</option>
		</select>
	</td>
</tr>
<tr>
    <td class="edittext">
    </td>
    <td class="edittext">
        YES IT WORKS
    </td>
</tr>